<html>
<head>
<title>hello </title>
</head>
<body>
    {include file='head'}
    hello,Baidu {$name}

    <ul>
        <li>{$user->id}</li>
        <li>{$user->name}</li>
    </ul>


    <p>Time:{$time|date='Y-m-d H:i:s',###}</p>

    <p>{$str|substr=0,5|strtoupper}

    <p>{$Age|default='这个家伙很懒，什么也没留下'}</p>    

    <p>函数的第2种写法：{:strtoupper(substr($str,0,5))}


    <p>
        {foreach name='arr' item='value'}
        <span>{$value}</span><br/>
        {/foreach}
    </p>

    <p>
        {volist name='arr' id='value' offset='3' length='2'}
        <span>{$value}</span><br/>
        {/volist}
    </p>


    <p>
        {volist name='arr2' id='vo'}
            {foreach name='vo' item='for'}
            <span>{$for}</span><br/>
            {/foreach}
        {/volist}
    </p>

<div id="app">
  <input v-model="newTodo" v-on:keyup.enter="addTodo">
  <ul>
    <li v-for="todo in todos">
      <span>{{ todo.text }}</span>
      <button v-on:click="removeTodo($index)">X</button>
    </li>
  </ul>
</div>

    {include file='foot' copyright="<?php echo date('Y')?>"}    



    <script src="__COMMON__/vue-1.0.26/vue.js"></script>
    <script src="__COMMON__/vue-resource-1.0.3/vue-resource.js"></script>
    <script src="__COMMON__/vue-router-2.1.1/vue-resource.js"></script>
    <script type="text/javascript">
new Vue({
  el: '#app',
  data: {
    newTodo: '',
    todos: [
      { text: 'Add some todos' }
    ]
  },
  methods: {
    addTodo: function () {
      var text = this.newTodo.trim()
      if (text) {
        this.todos.push({ text: text })
        this.newTodo = ''
      }
    },
    removeTodo: function (index) {
      this.todos.splice(index, 1)
    }
  }
})
    </script>
</body>
</html>