{layout name='template'/}

index.html

<script>
// var tree=
//     {id:0,name:'根',parent_id:0,depth:0,
//         children:[
//             {id:1,name:'瓜果类',parent_id:0,depth:1,expand:true,children:[
//                 {id:3,name:'火龙果',parent_id:1,depth:2,expand:true,children:[
//                     {id:5,name:'白病',parent_id:3,depth:3,children:[]},
//                     {id:6,name:'粉病',parent_id:3,depth:3,children:[]}
//                 ]},
//                 {id:4,name:'香蕉',parent_id:1,depth:2,children:[]}
//             ]},
//             {id:2,name:'蔬菜类',parent_id:0,depth:1,children:[]}
//         ]}


</script>