<!doctype html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>ecopro 后台配置主页</title>
  <style type="text/css">
    #header,#content,#foot{
        width: 1190px; margin:0 auto; 
    }
    .block{
            display: block;
    }
    .pr{position: relative;}
    .w250{width:250px;}
    .mt5{margin-top: 5px;}
    .mb5{margin-bottom: 5px;}
    .w150{width: 150px;}
    .mr5{margin-right: 5px;}
    .ml5{margin-left: 5px;}
    .cp{cursor: pointer;}
    li{list-style: none;cursor: pointer;line-height: 30px;}
    .color-lightgray{color:lightgray}
  </style>

<script src="__COMMON__/vue-1.0.26/vue.js"></script>
<script src="__COMMON__/vue-router-0.7.13/vue-router.js"></script>
<script src="__COMMON__/vue-resource-1.0.3/vue-resource.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>-->

</head>

<body id='app'>
  <div class="pr" style=" background:#80bf57  no-repeat left center;height: 50px;">
    <div style="text-align: right;color: white;font-size: 12px;">
      <p class="mr5">{$user->name}</p>
      <p class="mr5" style="cursor: pointer">
        <span class="ib cp">
          <a href='__KNOWLEDGE_CONTROL__/index/reset'>修改密码</a>
        </span>
        <a href='__ADMIN_CONTROL__/index/logout'>退出</a>
     </p>
   </div>
  </div>


  <div id="content" class="pr">
    <div id="menu" style="height: 550px; float: left;width: 220px;background-color: yellow;">
      {volist name='menu' id='vo'}
      <h5>{$vo->name}</h5>
      <ul>
        {foreach name='vo->submenu' item='for'}
        <li><a href="{$for.url}">{$for.name}</a></li>
        {/foreach}
      </ul>
      {/volist}
   </div>
  </div>
  <div id="main" class="ml5" style="float: left;overflow: hidden; width: 965px;"> {__CONTENT__}

  </div>
</div>
</div>
<div id="foot" style="clear: both; text-align: center;background:#80bf57  no-repeat left center;">
<p class="white">
  ©2014-{:date('Y')} 宜葆农科&nbsp;&nbsp;&nbsp;&nbsp;浙ICP备15009724号
</p>
</div>

</body>

</html>